
<link rel="stylesheet" type="text/css" href="css/index.css" />

<div class="app2">
    <div class="wrapper fadeInDown">
        <div id="formContent">
       
        </div>

    </div>
</div> 

<script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="lib/font-awesome/js/fontawesome.min.js"></script>
<script type="text/javascript" src="lib/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script type="text/javascript" src="lib/datatables/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="lib/datatables/dataTables.bootstrap.min.js"></script>
<script>
     if(localStorage["perfil"]==null){
        window.location.href="index.html";
    }else{
        perfil=localStorage["perfil"];
        var AuxPerfil=JSON.parse(perfil);
    }
  
var text="</br>";
$.ajax({
    url:"https://apiciencoas.azurewebsites.net/api/values/AuxAsignaturaType?id="+AuxPerfil.seccion,
    type:"GET",
    success: function(respo){
        response=respo;
        console.log(response);
        for (var i =0;i< response.length;i++){
            text=text+'<button onclick="il(this.value)" style="background-image:url(\'./img/layout2.jpg\')"  class="textarea" value="'+i+'">'+response[i].nombre+'</button></br>';
        }
        $("#formContent").html(text);
    }
})
function il(value){ 
        if (AuxPerfil.asignatura){
            if (AuxPerfil.seccion<10){
                var Aux=perfil.slice(0, -15);
                console.log(response);
                localStorage["perfil"]=  localStorage["perfil"]=Aux+',"asignatura":"'+response[value].id+'","seccion":"'+response[value].seccion.id+'"}';
                localStorage["asignatura"]=response[value].nombre;
                window.location.href="alumnos.html";
            }else{
                var Aux=perfil.slice(0, -16);
                console.log(response);
                localStorage["perfil"]=  localStorage["perfil"]=Aux+',"asignatura":"'+response[value].id+'","seccion":"'+response[value].seccion.id+'"}';
                localStorage["asignatura"]=response[value].nombre;
                window.location.href="alumnos.html";
            }
        }else{
            var Aux =perfil.slice(0, -1);
            console.log(response);
            localStorage["perfil"]=  localStorage["perfil"]=Aux+',"asignatura":"'+response[value].id+'","seccion":"'+response[value].seccion.id+'"}';
            localStorage["asignatura"]=response[value].nombre;
            window.location.href="alumnos.html";
        }
    }

</script>