<nav class="navbar navbar-inverse navbar-fixed-top" style ="background-image:url('./img/layout.jpg') ">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="index.html" class="navbar-brand">Repositorio</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="niveles.html">Niveles</a></li>
                <li><a href="./pruebas/niveles.html">Pruebas</a></li>
               
            </ul>
        </div>
    </div>
</nav>