<link rel="stylesheet" type="text/css" href="css/index.css" />
<link rel="stylesheet" type="text/css" href="lib/sweetalert2/dist/sweetalert2.min.css" />
<link rel="stylesheet" type="text/css" href="lib/font-awesome/css/fontawesome.min.css" />
<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="lib/datatables/css/dataTables.bootstrap.min.css" />
<body>


<div class="wrapper fadeInDown">
        <div id="formContent">
           
        </div>
</body>
<script type="text/javascript" src="js/funciones.js"></script>
<script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="lib/font-awesome/js/fontawesome.min.js"></script>
<script type="text/javascript" src="lib/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script type="text/javascript" src="lib/datatables/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="lib/datatables/dataTables.bootstrap.min.js"></script>
<script>
    if(localStorage["perfil"]==null){
        window.location.href="index.html";
    }else{
        perfil=localStorage["perfil"];
        var Aux2=JSON.parse(perfil);
        console.log(Aux2);
        var AuxPerfil=JSON.parse('{"id":"'+Aux2.id+'"}');
        console.log(AuxPerfil);
    }
    var text="</br>";
    var response;
$.ajax({
    url:"https://apiciencoas.azurewebsites.net/api/values/AuxAsignaturaNiveles?id="+AuxPerfil.id,
    type:"GET",
    success: function(respo){
        localStorage["as"]="[";       
        response=respo;
        console.log(response);
        for (var i =0;i< response.length;i++){
            text=text+'<button onclick="il(this.value)" style="background-color:blue")"  class="textarea" value="'+i+'">'+response[i].nombre+'</button></br>';
            localStorage["as"]=localStorage["as"]+'{"nombre":"'+response[i].nombre+'","id":"'+response[i].id+'"},';      
        }
        $("#formContent").html(text);
    }
})
    //console.log(perfil);
function il(value){ 
    if (AuxPerfil.asignatura){
                if (AuxPerfil.asignatura<10){
                    var Aux=perfil.slice(0, -18);
                    localStorage["perfil"]=  Aux+',"asignatura":"'+response[value].id+'"}';
                    localStorage["asignatura"]=response[value].nombre;
                localStorage["seccion"]='{"id":"'+response[value].seccion.id+'","nombre":"'+response[value].nombre+'"}';               
                    window.location.href="pruebas.html";
                }else{
                    var Aux=perfil.slice(0, -19);
                    localStorage["perfil"]=  Aux+',"asignatura":"'+response[value].id+'"}';
                    localStorage["asignatura"]=response[value].nombre;
                localStorage["seccion"]='{"id":"'+response[value].seccion.id+'","nombre":"'+response[value].nombre+'"}';               
                   
                    
                    window.location.href="pruebas.html";
                }
            }else{
                var Aux =perfil.slice(0, -1);
                localStorage["perfil"]=  Aux+',"asignatura":"'+response[value].id+'"}';
                localStorage["seccion"]='{"id":"'+response[value].seccion.id+'","nombre":"'+response[value].nombre+'"}';               
                localStorage["asignatura"]=response[value].nombre;
                window.location.href="pruebas.html";
            }
        }
</script>