<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <!-- This is a wide open CSP declaration. To lock this down for production, see below. -->
    <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline'; style-src 'self' 'unsafe-inline'; media-src *" />
    <!-- Good default declaration:
    * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
    * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
    * Disables use of eval() and inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
        * Enable inline JS: add 'unsafe-inline' to default-src
        * Enable eval(): add 'unsafe-eval' to default-src
    * Create your own at http://cspisawesome.com
    -->
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: 'unsafe-inline' https://ssl.gstatic.com; style-src 'self' 'unsafe-inline'; media-src *" /> -->
    
    <link rel="stylesheet" type="text/css" href="lib/sweetalert2/dist/sweetalert2.min.css" />
    <link rel="stylesheet" type="text/css" href="lib/font-awesome/css/all.css" />
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="lib/datatables/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <style>
         .open-button {
          background-color: #555;
          color: white;
          padding: 16px 20px;
          border: none;
          opacity: 0.8;
          position: fixed;
          width: 500px;
        }
        /* The popup form - hidden by default */
        .form-popup {
          display: none;
          position: fixed;
          bottom: 0;
          margin:0 auto !important;
          right:400px;
         
          z-index: 9;
        }
        /* Add styles to the form container */
        .form-container {
          max-width: 500px;
          padding: 10px;
          border: 5px solid #f1f1f1;
          border-radius: 10px;
          background-color: white;   
        }
        /* Full-width input fields */
        .form-container input[type=text], .form-container input[type=password] {
          width: 80%;
          padding: 15px;
          margin: 5px 0 10px 0;
          border: none;
          background: #f1f1f1;
        }
        /* When the inputs get focus, do something */
        .form-container input[type=text]:focus, .form-container input[type=password]:focus {
          background-color: #ddd;
          outline: none;
        }
        /* Set a style for the submit/login button */
        .form-container .btn {
          background-color: #4CAF50;
          color: white;
          border: none;
          cursor: pointer;
          width: 100%;
          margin-bottom:5px;
          opacity: 0.8;
        }
        /* Add a red background color to the cancel button */
        .form-container .cancel {
          background-color: red;
        }
        /* Add some hover effects to buttons */
        .form-container .btn:hover, .open-button:hover {
          opacity: 1;
        }
            #customers {
              font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }
            
            #customers td, #customers th {
              border: 1px solid #ddd;
              padding: 8px;
            }
            
            #customers tr:nth-child(even){background-color: #f2f2f2;}
            
            #customers tr:hover {background-color: #ddd;}
            
            #customers th {
              padding-top: 12px;
              padding-bottom: 12px;
              text-align: left;
              background-color: #4CAF50;
              color: white;
            }
            </style>
</head>
<body >
 <div id="header"></div>
    <div class="app">
            <center>
                <div id="formContentRepor" style="padding: 30px;" >
                        <h4>Agregar Nota</h4>
                        <i class="fas fa-plus-circle" onclick='openForm()' style ='font-size:40px; margin-left:30px' ></i>    
                </br> </br>
                        <table id="customers">
                            
                            
                                    </table >
                       
                    </div>
            </center>
        </div>
        <div class="form-popup" id="myForm">
                <form  class="form-container">
                  <label for="Pregunta"><b>Nombre Nota</b></label>
                </br>
                  <input type="text" placeholder="Nombre" style ="width:100%" name="prueba"  id="prueba" required>
                    </br>
                  <label for="a">Seccion</label>
                  <select id ="seccion">
                      <option value="1">PRIMER NIVEL MEDIO</option>
                      <option value="2">SEGUNDO NIVEL MEDIO</option>
                  </select>
                </br>
                  <label for="b"><b>Inicio de Evaluacion </b></label>
                  <input type="date" class="textarea" placeholder="Respuesta" name="ini" id="ini"  required>
                </br>
                  <label for="c"><b>Fin de Evaluacion</b></label>
                  <input type="date" class="textarea" placeholder="Respuesta" name="fin" id="fin" required>
                </br>
                  <button type="button" id ="subir" class="btn">Subir</button>
                  <button type="button" class="btn cancel" onclick="closeForm()">Cancelar</button>
                </form>
            </div>    
</div>

</body>
<script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="lib/font-awesome/js/fontawesome.min.js"></script>
<script type="text/javascript" src="lib/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script type="text/javascript" src="lib/datatables/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="lib/datatables/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
   $(function(){
      $("#header").load("header.html");

    });
    if(localStorage["perfil"]==null){
        window.location.href="index.html";
    }else{
        perfil=localStorage["perfil"];
        var AuxPerfil=JSON.parse(perfil);
    }

    var PerfilGlobal;
    //console.log(AuxPerfil);
    $.ajax({
        url: 'https://apiciencoas.azurewebsites.net/api/prueba/seccionestudiante',
        //url: 'https://localhost:5001/api/prueba/seccionestudiante',
        type: 'POST',
        data: '{ "seccion":"'+AuxPerfil.asignatura+'"}',
        headers: {
            "Content-Type": ["application/json", "text/plain"]
        },
        success: function(repos){
           // console.log(repos);
            $.ajax({
        url: 'https://apiciencoas.azurewebsites.net/api/prueba/getpruebas',
        //url: 'https://localhost:5001/api/prueba/getpruebas',
        type: 'POST',
        data: '{ "asignatura":"'+AuxPerfil.asignatura+'"}',
        headers: {
            "Content-Type": ["application/json", "text/plain"]
        },
        success: function(repon){
            $.ajax({
        url: 'https://apiciencoas.azurewebsites.net/api/prueba/notasasignatura',
        //url: 'https://localhost:5001/api/prueba/notasasignatura',
        type: 'POST',
        data: '{ "asignatura":"'+AuxPerfil.asignatura+'"}',
        headers: {
            "Content-Type": ["application/json", "text/plain"]
        },
        success: function(Auxresponse){
            PerfilGlobal= repos;
            var text= "<tr><td>nombre</td><td>rut</td>";
            console.log(Auxresponse);
            for (var i =0;i<repon.length;i++){
                var fe=repon[i].ini.split("T");
                text=text+"<td>"+repon[i].nombre+" - "+fe[0]+"  <i id='editar"+i+"'  onclick='des("+repon[i].id+","+repos.length+","+i+")' name='editar"+i+"'  class='fas fa-pencil-alt' style ='text-align:center;' ></i><i id ='check"+i+"' onclick='guardar("+repon[i].id+","+repos.length+","+i+")' class='fas fa-check' style='display:none'></i></td>";
            }
            text=text+"</tr>";
            var con=0;
            var ver=0;
            console.log(repon)
            
                for (var i =0;i<repos.length;i++){
                text=text+"<tr><td>"+repos[i].apellido+" "+repos[i].nombre+ "</td><td>"+repos[i].login_id.rut+ "</td>";
                    
                    for (var x =0;x<repon.length;x++){
                   if(con<Auxresponse.length){
                       for (var z =0; z<Auxresponse.length;z++){
                            if (Auxresponse[z].perfil.login_id.rut == repos[i].login_id.rut && Auxresponse[z].pruebas.id == repon[x].id){
                                console.log(Auxresponse[z].perfil.login_id.rut == repos[i].login_id.rut && Auxresponse[z].pruebas.id == repon[x].id);
                                text=text+"<td><input type='text' style='width:100px;' id='"+i+"_"+repon[x].id+"' value='"+Auxresponse[z].nota+"' disabled/ ></td></td>";
                                con++;
                                ver++;
                            }
                       }
                       if (ver==0){
                        text=text+"<td><input type='text' style='width:100px;' id='"+i+"_"+repon[x].id+"' disabled/></td></td>";   
                      }else{
                          ver=0;
                      }
                   }else{
                    text=text+"<td><input type='text' style='width:100px;' id='"+i+"_"+repon[x].id+"' disabled/></td></td>";
                   }
                }
                text=text+"</tr>";
            }
            
            $("#customers").html(text);
        }
            
        })
        }
    })
        }
    })
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }
function closeForm() {
    document.getElementById("prueba").value="";
    document.getElementById("myForm").style.display = "none";
}
var num=0;
$(document).on('click', '#subir', function (e) {
    if(document.getElementById("prueba").value!="" && document.getElementById("ini").value!="" && document.getElementById("fin").value!="")
    {
    Swal.fire({
        title: 'Enviando datos',
        html: 'Por favor espere.',
        timer: 10000,
        timerProgressBar: true,
        onBeforeOpen: () => {
            Swal.showLoading()
            timerInterval = setInterval(() => { 100})
        },
        onClose: () => {
            clearInterval(timerInterval)
        }
    });
    if(num==0){
        id=0;
    }else{
        id=pruebas[num].id;
    }
    //console.log(id);
    $.ajax({
        url: 'https://apiciencoas.azurewebsites.net/api/prueba/actualizarp',
        //url: 'https://localhost:44331/api/prueba/actualizarp',
        type: 'POST',
        data: '{ "nombre":"'+document.getElementById("prueba").value+'","ini":"'+document.getElementById("ini").value+'","fin":"'+document.getElementById("fin").value+'", "asignatura":"'+AuxPerfil.asignatura+'","seccion":"'+document.getElementById("seccion").value+'", "id_prueba":"'+id+'"}',
        headers: {
            "Content-Type": ["application/json", "text/plain"]
        },
        success: function(repos){
            Swal.fire({
                title: "Listo!",
                text: "Nota Guardada Correctamente",
                type: 'success',
            }).then(function (result){
                window.location.reload();
            })
        }
    });
    }
    else{
        Swal.fire({
                title: "Error!",
                text: "Por favor rellene todos los campos",
                type: 'error',
        });
    }
});
function des(valor,max,pos){
    //console.log(valor+"-"+max);
    for (var i =0; i<max;i++){
        $('input[id="'+i+"_"+valor+'"]').each(function () {
            document.getElementById(i+"_"+valor).disabled=false;
        });
    }
    document.getElementById("editar"+pos).style.display="none";
    document.getElementById("check"+pos).style.display="inline-block";
    
}
function guardar(valor,max, pos){
    Swal.fire({
                title: '¿Estás Seguro?',
                text: "¿Modificar?",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, Modificar',
                cancelButtonText: 'No, seguir editando'
            }).then((result) => {
                if (result.value) {
                    Swal.fire({
        title: 'Enviando datos',
        html: 'Por favor espere.',
        timer: 100000,
        timerProgressBar: true,
        onBeforeOpen: () => {
            Swal.showLoading()
            timerInterval = setInterval(() => { 100})
        },
        onClose: () => {
            clearInterval(timerInterval)
        }
    });
    var text="[";
                    //console.log(valor+"-"+max);
                    for (var i =0; i<max;i++){
                        $('input[id="'+i+"_"+valor+'"]').each(function () {
                           text=text+'{"prueba":"'+valor+'","rut":"'+PerfilGlobal[i].login_id.rut+'","nota":"'+document.getElementById(i+"_"+valor).value+'"},';
                        });
                    }
                    text=text.slice(0,-1);
                    text=text+"]";
                    console.log(text);
                    $.ajax({
                                url: 'https://apiciencoas.azurewebsites.net/api/prueba/multiresult',
                                //url: 'https://localhost:5001/api/prueba/multiresult',
                                type: 'POST',
                                data: text,
                                headers: {
                                    "Content-Type": ["application/json", "text/plain"]
                                },
                                success: function(repos){
                                    console.log(repos);
                                    Swal.fire({
                                        title: "Listo!",
                                        text: "Datos  Guardados Correctamente",
                                        type: 'success',
                                    }).then(function (result){
                                        window.location.reload();
                                        document.getElementById("editar"+pos).style.display="inline-block";
    document.getElementById("check"+pos).style.display="none";
                                    })
                                }
                            });
                } 
            })
    
 
    
}

</script>