<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline'; style-src 'self' 'unsafe-inline'; media-src *" />
    <link rel="stylesheet" type="text/css" href="lib/sweetalert2/dist/sweetalert2.min.css" />
    <link rel="stylesheet" type="text/css" href="lib/font-awesome/css/all.css" />
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="lib/datatables/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <style type="text/css">

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  opacity: 0.8;
  position: fixed;
  width: 500px;
}
/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  margin:0 auto !important;
  right:400px;
 
  z-index: 9;
}
/* Add styles to the form container */
.form-container {
  max-width: 500px;
  padding: 10px;
  border: 5px solid #f1f1f1;
  border-radius: 10px;
  background-color: white;   
}
/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 80%;
  padding: 15px;
  margin: 3px 0 10px 0;
  border: none;
  background: #f1f1f1;
}
/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:5px;
  opacity: 0.8;
}
/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}
/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
</style>
    <title>Preguntas</title>
</head>
<body>
 <div id="header"></div>
 <div class="app">
        <center>
                <div id="formContentRepor" style="padding: 30px;" >
                        <h1 id ="guia" for="guia">Preguntas de Pruebas </h1>
                        <div style ='text-align:left'>
                        <h4>Agregar Pregunta</h4>
                        <i class="fas fa-plus-circle" onclick="openForm()" style ='font-size:40px; margin-left:30px' ></i>
                    </div>
                        <table id="table_id" name ="table_id" style="width:100%; padding: 30px;text-align: center" class="table table-striped table-bordered table-sm ">
                            <thead>
                                <tr>
                                    <th>Pregunta</th>
                                    <th>Alternativa Correcta</th>
                                    <th>Imagen</th>
                                    <th>Respuesta</th>
                                    <th>Editar</th>                                                                    
                                    <th>Eliminar</th>                                
                                </tr>
                            </thead>
                        </table>
                    </div>
                </center>
                    <div class="form-popup" id="myForm">
                            <form  class="form-container">
                              <label for="Pregunta"><b>Pregunta</b></label>
                            </br>
                              <input type="text" placeholder="Enunciado" style ="width:100%" name="preguntas"  id="preguntas"required>
                                </br>
                                <label for="a">Imagen</label>                            
                                <input type="file" id="filechooser" style ="display:inline-block" >
                            </br>
                              <label for="a">A</label>
                              <input type="text" placeholder="Respuesta" name="A" id="A"  required>
                            </br>
                              <label for="b"><b>B</b></label>
                              <input type="text" placeholder="Respuesta" name="B" id="B"  required>
                            </br>
                              <label for="c"><b>C</b></label>
                              <input type="text" placeholder="Respuesta" name="C" id="C" required>
                            </br>
                              <label for="d"><b>D</b></label>
                              <input type="text" placeholder="Respuesta" name="D" id="D" required>
                            </br>
                            <label for="correcta"><b>Alternativa Correcta</b></label>
                            <input type="text" onkeyup="this.value=letras(this.value)"  style ="width:20%" placeholder="A" name="correcta"  id="correcta" required>
                              <button type="button" id ="subir" class="btn">Subir</button>
                              <button type="button" class="btn cancel" onclick="closeForm()">Cancelar</button>
                            </form>
                        </div>
                    </div>
</body>
<script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="lib/font-awesome/js/fontawesome.min.js"></script>
<script type="text/javascript" src="lib/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script type="text/javascript" src="lib/datatables/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="lib/datatables/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
  $(function(){
      $("#header").load("header.html");
    });
    if(localStorage["perfil"]==null){
        window.location.href="index.html";
    }else{
        perfil=localStorage["perfil"];
        var AuxPerfil=JSON.parse(perfil);
        //console.log(AuxPerfil);
    }
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }
function closeForm() {
    document.getElementById("preguntas").value="";
    document.getElementById("A").value="";
    document.getElementById("B").value="";
    document.getElementById("C").value="";
    document.getElementById("D").value="";
    document.getElementById("correcta").value="";
    document.getElementById("myForm").style.display = "none";
}
var opciones;
    $.ajax({
        url: 'https://apiciencoas.azurewebsites.net/api/prueba/mostrarO/?idPrueba='+localStorage["pru"]+'&nivel='+localStorage["nivel"],
        //url: 'https://localhost:44331/api/prueba/mostrarO/?idPrueba='+localStorage["pru"]+'&nivel='+localStorage["nivel"],
        type: 'Get',
        success: function(repos) {
            console.log(repos);
            opciones=repos;
            var text ="[";
            var cont=0;
            for (var i=0; i<repos.length;i++){
                if (repos[i].preguntas.correcta==repos[i].opciones){ 
                    text=text+'{"pregunta":"'+repos[i].preguntas.pregunta+'","alternativa":"'+repos[i].preguntas.correcta+'","texto":"'+repos[i].nombre+'","imagen":"'+repos[i].preguntas.imagen+'"},';                    
                }               
            }
           
            var auxtext=text.slice(0, -1);
            auxtext=auxtext+"]";
            console.log(auxtext);
            var table = $('#table_id').DataTable();
            table.destroy();
            $('#table_id').DataTable({
                        dom: 'Bfrtip',
                        "language": {
                        "url": "lib/datatables/language/Spanish.json"
                    }, 
                    "data":JSON.parse(auxtext),
                    "columns": [
                        {
                            "data": "pregunta"
                        }
                        ,
                        {
                            "data": "alternativa"
                        }
                        ,
                        {
                            "data": "imagen"
                        }
                        ,
                        {
                            "data": "texto"
                        }                      
                        ,
                            {"defaultContent": "<i id='editar' onclick='openForm()' name='editar' class='fas fa-pencil-alt' style ='text-align:center;font-size:40px' ></i>"}
                        ,
                            {"defaultContent": "<i id='borrar' class='fas fa-trash-alt fa-3x' name='borrar' style ='text-align:center; font-size:40px'></i>"}
                        ],
                });
            }
     });
     var num=0;
     $(document).on('click', '#editar', function (e) {
        var valores = "";
        $(this).parents("tr").find("td").each(function () {
            valores += $(this).html() + "~";
    });
    var aux=valores.split("~");
   
    num=-1;
    for (var i=0; i<opciones.length;i++){
        if(opciones[i].preguntas.pregunta==aux[0] && num ==-1){
            num=i;
        }
    }
    document.getElementById("preguntas").value=opciones[num].preguntas.pregunta;
    document.getElementById("A").value=opciones[num].nombre;
    document.getElementById("B").value=opciones[num+1].nombre;
    document.getElementById("C").value=opciones[num+2].nombre;
    document.getElementById("D").value=opciones[num+3].nombre;
    document.getElementById("correcta").value=opciones[num].preguntas.correcta;
});
$(document).on('click', '#subir', function (e) {
   // console.log(num);
    if(document.getElementById("preguntas").value!="" && document.getElementById("A").value!="" && document.getElementById("B").value!="" && document.getElementById("C").value!="" && document.getElementById("D").value!="" && document.getElementById("correcta").value!=""){
    var id=0;
    
    if(num==0){
        id=0;
    }else{
        id=opciones[num].preguntas.id;
    }
    console.log(num);
    Swal.fire({
        title: 'Enviando datos',
        html: 'Por favor espere.',
        timer: 100000,
        timerProgressBar: true,
        onBeforeOpen: () => {
            Swal.showLoading()
            timerInterval = setInterval(() => { 100})
        },
        onClose: () => {
            clearInterval(timerInterval)
        }
    });
    //console.log($('#filechooser'));
    var namefile;
    if($('#filechooser')[0].files.length==0 && num == 0){
        namefile="";
    }else if($('#filechooser')[0].files.length==0 && num != 0){
        namefile = opciones[num].preguntas.imagen
    }else{
    var blobFile = $('#filechooser')[0].files[0];
                    var formData = new FormData();
                    formData.append("file", blobFile);
                   // console.log(blobFile);
                    namefile=blobFile.name;
    }
    $.ajax({
        url: 'https://apiciencoas.azurewebsites.net/api/prueba/ActualizarPre',
        //url: 'https://localhost:5001/api/prueba/ActualizarPre',
        type: 'POST',
        data: '{ \"id_pregunta\":"'+id+'",\"pregunta\":"'+document.getElementById("preguntas").value+'",\"asignatura\":"'+AuxPerfil.asignatura+'", \"correcta\":"'+document.getElementById("correcta").value+'", \"id_prueba\":"'+localStorage["id_prueba"]+'", \"seccion\":"'+localStorage["nivel"]+'","imagen\":"'+namefile+'"}',
        headers: {
            "Content-Type": ["application/json", "text/plain"]
        },
        success: function(repos) {
            $.ajax({
                url: 'https://apiciencoas.azurewebsites.net/api/prueba/ActualizarO',
                //url: 'https://localhost:5001/api/prueba/ActualizarO',
                type: 'POST',
                data: '[{"nombre":"'+document.getElementById("A").value+'","opciones":"A", "pruebas":"'+localStorage["id_prueba"]+'", "id_pregunta":"'+repos.id+'"},{"nombre":"'+document.getElementById("B").value+'","opciones":"B", "pruebas":"'+localStorage["id_prueba"]+'", "id_pregunta":"'+repos.id+'"},{"nombre":"'+document.getElementById("C").value+'","opciones":"C", "pruebas":"'+localStorage["id_prueba"]+'", "id_pregunta":"'+repos.id+'"},{"nombre":"'+document.getElementById("D").value+'","opciones":"D", "pruebas":"'+localStorage["id_prueba"]+'", "id_pregunta":"'+repos.id+'"}]',
                headers: {
                    "Content-Type": ["application/json", "text/plain"]
                },success: function(Res) {
                    $.ajax({
                        url: "upload.php",
                        type: "POST",
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function(response) {
                            console.log(response);
                            Swal.fire({
                                title: "Listo!",
                                text: "Pregunta Guardada Correctamente",
                                type: 'success',
                            }).then(function (result){
                                window.location.reload();
                            })
                        },
                        error: function(jqXHR, textStatus, errorMessage) {
                            //console.log(errorMessage); // Opcional
                        }
                    });
                    
                }
            });
        }
    });
    }else{
        Swal.fire({
                title: "Error!",
                text: "Por favor rellene todos los campos",
                type: 'error',
        });
    }
});
function letras(string){//Solo numeros
    var out = '';
    var filtro = 'ABCD';//Caracteres validos
    //Recorrer el texto y verificar si el caracter se encuentra en la lista de validos 
    for (var i=0; i<string.length; i++)
       if (filtro.indexOf(string.charAt(i)) != -1) 
             //Se añaden a la salida los caracteres validos
	     out += string.charAt(i);
    //Retornar valor filtrado
    return out;
} 
$(document).on('click', '#borrar', function (e) {    
    var valores = "";
    $(this).parents("tr").find("td").each(function () {
        valores += $(this).html() + "~";
    });
    console.log(opciones);
    var aux=valores.split("~");
    numero=-1;
    for (var i=0; i<opciones.length;i++){
        if(opciones[i].preguntas.pregunta==aux[0] && numero ==-1){
            numero=i;
        }
    }
    Swal.fire({
        title: 'Enviando datos',
        html: 'Por favor espere.',
        timer: 10000,
        timerProgressBar: true,
        onBeforeOpen: () => {
            Swal.showLoading()
            timerInterval = setInterval(() => { 100})
        },
        onClose: () => {
            clearInterval(timerInterval)
        }
    });
    $.ajax({
        url: 'https://apiciencoas.azurewebsites.net/api/prueba/EliminarO',
        //url: 'https://localhost:44331/api/prueba/EliminarO',
        type: 'POST',
        data: '[{"nombre":"'+opciones[numero].nombre+'","opciones":"A", "pruebas":"'+opciones[0].pruebas.id+'", "id_pregunta":"'+opciones[numero].preguntas.id+'"},{"nombre":"'+ opciones[numero+1].nombre+'","opciones":"B", "pruebas":"'+opciones[0].pruebas.id+'", "id_pregunta":"'+opciones[numero].preguntas.id+'"},{"nombre":"'+opciones[numero+2].nombre+'","opciones":"C", "pruebas":"'+opciones[0].pruebas.id+'", "id_pregunta":"'+opciones[numero].preguntas.id+'"},{"nombre":"'+opciones[numero+3].nombre+'","opciones":"D", "pruebas":"'+opciones[0].pruebas.id+'", "id_pregunta":"'+opciones[numero].preguntas.id+'"}]',
        headers: {
            "Content-Type": ["application/json", "text/plain"]
        },success: function(Res) {
            $.ajax({
                url: 'https://apiciencoas.azurewebsites.net/api/prueba/EliminarPre',
              //  url: 'https://localhost:44331/api/prueba/EliminarPre',
                type: 'POST',
                data: '{ \"id_pregunta\":"'+opciones[numero].preguntas.id+'",\"pregunta\":"'+opciones[numero].preguntas.pregunta+'",\"asignatura\":"'+AuxPerfil.asignatura+'", \"correcta\":"'+opciones[numero].preguntas.correcta+'", \"id_prueba\":"'+opciones[0].pruebas.id+'", \"seccion\":"'+localStorage["nivel"]+'"}',
                headers: {
                    "Content-Type": ["application/json", "text/plain"]
                },
                success: function(repos) {
                    //console.log(Res);
                    Swal.fire({
                            title: "Listo!",
                            text: "Pregunta Eliminada Correctamente",
                            type: 'success',
                        }).then(function (result){
                            window.location.reload();
                        })
                }
            });
        }
    });
});

    </script>